<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                A lecturer at Matana University in the Statistics Department, I am committed to exposing pupils with the
needed information and expertise that they so much require in the domains of statistics and data science. I come with the knowledge and skills in statistical methods that I share with learners through their investigation of data using regression, hypothesis testing, and data mining. 
            </p>
            <p class="paragraph-text justify-text">
                My favorite part of teaching is the engagement of R, Python, SQL, and data visualization, which then lead to the students acquiring skills to successfully convert raw data into operative insights. Due to my in-depth interest in AI and machine learning, I keep myself informed about all the new trends in the field, making my lectures more relevant and cutting-edge. 
            </p>
            <p class="paragraph-text justify-text">
                To balance the technical skills, I concentrate in aligning the students with necessary soft skills like critical thinking, problem-solving, and teamwork that will prepare them for real-life issues.
            <p class="paragraph-text justify-text">
                My research focus on Machine Learning (ML), Deep Learning (DL), and Natural Language Processing (NLP)
            </p>
        </div>
    </section>
</div>
