<div class="section-wrapper">
    <section class="section" id="blog-posts">
        <div class="full-width">
            <div class="section-heading" id="recent-posts-text">Experiences</div>
            <div class="blogs-wrapper" id="rss-feeds"></div>
        </div>
    </section>
</div>

// <div class="section-wrapper">
    <section class="section" id="blog-posts">
        <div class="full-width">
            <div class="section-heading" id="recent-posts-text">Experiences</div>
            <div class="blogs-wrapper" id="rss-feeds">
                <!-- Work Experience -->
                <div class="experience-title">Work Experience</div>
                
                <div class="blog-item">
                    <div class="blog-title">Lecturer in the Statistics Department (Fulltime)</div>
                    <div class="experience-details">
                        <span>Matana University</span>
                        <span class="experience-date">Aug 2024 - Present</span>
                    </div>
                </div>

                <div class="blog-item">
                    <div class="blog-title">Software Engineering for AI Training Data Python (Independent Contractor)</div>
                    <div class="experience-details">
                        <span>Outlier AI</span>
                        <span class="experience-date">Jun 2024 - Nov 2024</span>
                    </div>
                </div>

                <div class="blog-item">
                    <div class="blog-title">Data Analyst (Internship)</div>
                    <div class="experience-details">
                        <span>Direktorat Jenderal Pajak RI</span>
                        <span class="experience-date">Nov 2019 - Dec 2019</span>
                    </div>
                </div>

                <div class="blog-item">
                    <div class="blog-title">Data Warehouse Administrator (Freelance)</div>
                    <div class="experience-details">
                        <span>Partai Amanat Nasional</span>
                        <span class="experience-date">May 2017 - Oct 2017</span>
                    </div>
                </div>

                <div class="blog-item">
                    <div class="blog-title">Surveyor (Internship)</div>
                    <div class="experience-details">
                        <span>Badan Pusat Statistik</span>
                        <span class="experience-date">Feb 2017 - Mar 2017</span>
                    </div>
                </div>

                <!-- Education -->
                <div class="experience-title">Education</div>

                <div class="blog-item">
                    <div class="blog-title">M.Stat., Magister's Degree of Statistics</div>
                    <div class="experience-details">
                        <span>Institut Teknologi Sepuluh Nopember</span>
                        <span class="experience-date">Jan 2022 - April 2024</span>
                    </div>
                </div>

                <div class="blog-item">
                    <div class="blog-title">S.Stat., Bachelor's Degree of Statistics</div>
                    <div class="experience-details">
                        <span>Universitas Muhammadiyah Semarang</span>
                        <span class="experience-date">Sep 2019 - May 2021</span>
                    </div>
                </div>

                <div class="blog-item">
                    <div class="blog-title">Amd.Stat., Diploma III or Associate’s Degree of Statistics</div>
                    <div class="experience-details">
                        <span>Akademi Statistika Muhammadiyah Semarang</span>
                        <span class="experience-date">Sep 2016 - Sep 2019</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
