<!-- _includes/blogs.html -->
<section id="data-scientist">
  <h1>Data Scientist</h1>

  <h2>Work Experiences</h2>
  <div class="experience">
    <h3>Lecturer @ Matana University (<em>August 2024 - Present</em>)</h3>
    <ul>
      <li>Active in the three pillars of higher education (Education, Research, and Community Service)</li>
      <li>Focus Research on (AI/ML/DL/NLP)</li>
      <li>Courses:
        <ul>
          <li><strong>Algorithm and Programming</strong>
            <ul>
              <li>Programming Language in R and Python</li>
            </ul>
          </li>
          <li><strong>Database and Data Retrieval</strong>
            <ul>
              <li>Structured Query Language (SQL)</li>
            </ul>
          </li>
          <li><strong>Database in Big Data Technologies</strong>
            <ul>
              <li>Intro to Big Data</li>
            </ul>
          </li>
          <li><strong>Data Exploration and Visualization</strong></li>
          <li><strong>Introduction to Data Science</strong></li>
          <li><strong>Numerical Methods</strong></li>
          <li><strong>Profession Ethic in Statistics and Data Science</strong></li>
          <li><strong>Statistical Computation</strong></li>
        </ul>
      </li>
    </ul>
  </div>

  <h2>Education</h2>
  <ul>
    <li><strong>M.Stat., Magister's Degree of Statistics</strong> | Institut Teknologi Sepuluh Nopember (<em>April 2024</em>)</li>
    <li><strong>S.Stat., Bachelor's Degree of Statistics</strong> | Universitas Muhammadiyah Semarang (<em>May 2021</em>)</li>
  </ul>

  <h2>Publications</h2>
  <ol>
    <li>Rifki K.A.F., Rosyadi N., Zenklinov A.P., Suhermi N. (2024). <em>Intrusion Detection Systems (IDSs) using Multivariate Control Chart Hotelling’s T2 with Dimensional Reduction of Factorial Analysis of Mixed Data (FAMD) and Autoencoder</em>. DOI: <a href="http://dx.doi.org/10.12962/j27213862.v7i1.18751">http://dx.doi.org/10.12962/j27213862.v7i1.18751</a></li>
  </ol>
</section>
