<!-- _includes/experience.html -->
<div class="section-wrapper">
    <section class="section experience" id="experience">
        <div>
            <h2 class="section-heading">Experience</h2>
            
            <!-- Work Experience -->
            <h3 class="skills-subsection">Work Experience</h3>
            <div class="extra">
                <div class="blog-post">
                    <div class="blog-link">
                        <p class="experience-title">Lecturer in the Statistics Department (Fulltime)</p>
                        <p class="paragraph-text-normal">Matana University</p>
                    </div>
                    <div class="experience-date">Aug 2024 - Present</div>
                </div>
                
                <div class="blog-post">
                    <div class="blog-link">
                        <p class="experience-title">Software Engineering for AI Training Data Python (Independent Contractor)</p>
                        <p class="paragraph-text-normal">Outlier AI</p>
                    </div>
                    <div class="experience-date">Jun 2024 - Nov 2024</div>
                </div>
                
                <div class="blog-post">
                    <div class="blog-link">
                        <p class="experience-title">Data Analyst (Internship)</p>
                        <p class="paragraph-text-normal">Direktorat Jenderal Pajak RI</p>
                    </div>
                    <div class="experience-date">Nov 2019 - Dec 2019</div>
                </div>
                
                <div class="blog-post">
                    <div class="blog-link">
                        <p class="experience-title">Data Warehouse Administrator (Freelance)</p>
                        <p class="paragraph-text-normal">Partai Amanat Nasional</p>
                    </div>
                    <div class="experience-date">May 2017 - Oct 2017</div>
                </div>
                
                <div class="blog-post">
                    <div class="blog-link">
                        <p class="experience-title">Surveyor (Internship)</p>
                        <p class="paragraph-text-normal">Badan Pusat Statistik</p>
                    </div>
                    <div class="experience-date">Feb 2017 - Mar 2017</div>
                </div>
            </div>

            <!-- Education -->
            <h3 class="skills-subsection">Education</h3>
            <div class="extra">
                <div class="blog-post">
                    <div class="blog-link">
                        <p class="experience-title">M.Stat., Magister's Degree of Statistics</p>
                        <p class="paragraph-text-normal">Institut Teknologi Sepuluh Nopember</p>
                    </div>
                    <div class="experience-date">Jan 2022 - April 2024</div>
                </div>
                
                <div class="blog-post">
                    <div class="blog-link">
                        <p class="experience-title">S.Stat., Bachelor's Degree of Statistics</p>
                        <p class="paragraph-text-normal">Universitas Muhammadiyah Semarang</p>
                    </div>
                    <div class="experience-date">Sep 2019 - May 2021</div>
                </div>
                
                <div class="blog-post">
                    <div class="blog-link">
                        <p class="experience-title">Amd.Stat., Diploma III or Associate’s Degree of Statistics</p>
                        <p class="paragraph-text-normal">Akademi Statistika Muhammadiyah Semarang</p>
                    </div>
                    <div class="experience-date">Sep 2016 - Sep 2019</div>
                </div>
            </div>
        </div>
    </section>
</div>
