<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>
            
                <div class="project-technologies">

                    <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')">Featured</a>
                    <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">All</a>
                    <a id="mldl" class="semi-transparent-button with-border white-button" onclick="selected('mldl')">ML/DL</a>
                    <a id="databases" class="semi-transparent-button with-border white-button" onclick="selected('databases')">Data & Databases</a>
                    <a id="llm" class="semi-transparent-button with-border white-button" onclick="selected('llm')">LLM</a>
                    <a id="dashboard" class="semi-transparent-button with-border white-button" onclick="selected('dashboard')">Dashboard</a>

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>
