<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <h2 class="section-heading" id="skills-text">Core Competencies and Technologies</h2>
            <h3 class="center-align skills-subsection">Areas of Expertise</h3>
            <p class="paragraph-text center-align">
                Research, Data Analysis, Data Science, Retrieval-Augmented Generation (RAG).
            </p>
            <div class="skills-grid">
                <!-- Bagian Tools -->
                <div class="tools">
                    <h3 class="center-align skills-subsection">Tools</h3>
                    <ul class="tools-list">
                        <li>
                            <img src="images/minitab.png" alt="Minitab Logo" class="tool-icon">
                            Minitab
                        </li>
                        <li>
                            <img src="images/ibm-spss.png" alt="IBM SPSS Logo" class="tool-icon">
                            IBM SPSS
                        </li>
                        <li>
                            <img src="images/matlab.png" alt="Matlab Logo" class="tool-icon">
                            Matlab
                        </li>
                        <li>
                            <img src="images/eviews.png" alt="Eviews Logo" class="tool-icon">
                            Eviews
                        </li>
                        <li>
                            <img src="images/geoda.png" alt="GeoDa Logo" class="tool-icon">
                            GeoDa
                        </li>
                        <li>
                            <img src="images/arcgis.png" alt="ArcGIS Logo" class="tool-icon">
                            ArcGIS
                        </li>
                        <li>
                            <img src="images/vertex-ai.png" alt="Vertex AI Logo" class="tool-icon">
                            Vertex AI
                        </li>
                    </ul>
                </div>
                
                <!-- Bagian Programming Languages -->
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Programming Languages</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix" data-percent="90%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Python</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                        <div class="skillbar clearfix" data-percent="85%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>R</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                        <div class="skillbar clearfix" data-percent="80%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>SQL</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
