<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <h2 class="section-heading" id="skills-text">Core Competencies and Technologies</h2>
            <h3 class="center-align skills-subsection">Areas of Expertise</h3>
            <p class="paragraph-text center-align">
                Research, Data Analysis, Data Science, Retrieval-Augmented Generation (RAG).
            </p>
            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Tools</h3>
                    <div class="tools-grid">
                        <div class="tool-item">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Minitab_Logo.svg/135px-Minitab_Logo.svg.png" alt="Minitab Logo">
                            <span>Minitab</span>
                        </div>
                        <div class="tool-item">
                            <img src="https://images.sftcdn.net/images/t_app-icon-m/p/03886d52-96d1-11e6-aec3-00163ed833e7/371059589/spss-download.png" alt="SPSS Logo">
                            <span>SPSS</span>
                        </div>
                        <div class="tool-item">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/2/21/Matlab_Logo.png" alt="MATLAB Logo">
                            <span>MATLAB</span>
                        </div>
                        <div class="tool-item">
                            <img src="https://logodix.com/logo/2128372.png" alt="EViews Logo">
                            <span>EViews</span>
                        </div>
                        <div class="tool-item">
                            <img src="https://avatars.githubusercontent.com/u/16259639?s=200&v=4" alt="GeoDa Logo">
                            <span>GeoDa</span>
                        </div>
                        <div class="tool-item">
                            <img src="https://w7.pngwing.com/pngs/164/786/png-transparent-planet-earth-artwork-esri-arcgis-server-geographic-information-system-computer-software-previous-icon-symmetry-sphere-map.png" alt="ArcGIS Logo">
                            <span>ArcGIS</span>
                        </div>
                    </div>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Programming Language</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix" data-percent="90%">
                            <div class="skillbar-title"><span>Python</span></div>
                            <div class="skillbar-bar"></div>
                        </div>
                        <div class="skillbar clearfix" data-percent="85%">
                            <div class="skillbar-title"><span>R</span></div>
                            <div class="skillbar-bar"></div>
                        </div>
                        <div class="skillbar clearfix" data-percent="80%">
                            <div class="skillbar-title"><span>SQL</span></div>
                            <div class="skillbar-bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
