<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <h2 class="section-heading" id="skills-text">Core Competencies and Technologies</h2>
            <h3 class="center-align skills-subsection">Areas of Expertise</h3>
            <p class="paragraph-text center-align">
                Research, Data Analysis, Data Science, Retrieval-Augmented Generation (RAG).
            </p>
            <div class="skills-grid">
                <div class="tools">
                    <h3 class="center-align skills-subsection">Tools</h3>
                    <ul class="tools-list">
                        <!-- Minitab -->
                        <li>
                            <i class="fas fa-chart-bar tool-icon" style="color: #0072C6;"></i>
                            Minitab
                        </li>
                        <!-- IBM SPSS -->
                        <li>
                            <i class="fas fa-database tool-icon" style="color: #1A5276;"></i>
                            IBM SPSS
                        </li>
                        <!-- Matlab -->
                        <li>
                            <i class="fas fa-calculator tool-icon" style="color: #FF8C00;"></i>
                            Matlab
                        </li>
                        <!-- Eviews -->
                        <li>
                            <i class="fas fa-chart-line tool-icon" style="color: #2E86C1;"></i>
                            Eviews
                        </li>
                        <!-- GeoDa -->
                        <li>
                            <i class="fas fa-map-marked-alt tool-icon" style="color: #27AE60;"></i>
                            GeoDa
                        </li>
                        <!-- ArcGIS -->
                        <li>
                            <i class="fas fa-globe tool-icon" style="color: #F39C12;"></i>
                            ArcGIS
                        </li>
                        <!-- Vertex AI -->
                        <li>
                            <i class="fas fa-brain tool-icon" style="color: #6C3483;"></i>
                            Vertex AI
                        </li>
                    </ul>
                </div>
                
                <!-- Bagian Programming Languages -->
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Programming Languages</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix" data-percent="90%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Python</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                        <div class="skillbar clearfix" data-percent="85%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>R</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                        <div class="skillbar clearfix" data-percent="80%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>SQL</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
